.principal {
  margin: 0;
  padding: 0;
  display: flex;
  /*flex-direction: column;*/
}

.cards {
  display: flex;

  gap: 300px;

  margin-left: 30px;
  margin-top: 25px;
}

.card1 img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.principal2 {
  display: flex;
  gap: 400px;
  margin-left: 300px;
  margin-top: 100px;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
  margin-right: 50px;
}
